{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
        <article class="d-flex content-section">
          <div class="flex-shrink-0">
              <img 
                src="{{ post.author.profile.image.url }}" 
                alt="{{ post.author.username }}" 
                class="rounded-circle article-img mt-2" 
                style="margin-right: -0.25rem"
              >
          </div>
          <div class="flex-grow-1 ms-3">
            <div class="article-metadata">
              <a class="me-2" href="#" style="text-decoration: none">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted | date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'blog-post-detail' post.id %}" style="text-decoration: none">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content|truncatechars:150 }}</p>
          </div>
      </article>
    {% endfor %}
{% endblock content %}